@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');

body{
  background-color:white;
  font-family: 'Cormorant Garamond' ,serif;
  
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#012A4A;
  padding: 10px 10%;
  position: fixed;
  top: 0;
  left: 10px;
  width: 100vw;
  height: 16vh;
  z-index: 1;
  
}

.nav-links {
  padding:10px 150px;
  display: flex;
  list-style-type: none;
  transition: all 0.3s linear;
  
}
.nav-link{
  display: grid;
  place-items: center;
}
.nav-link a {
  top: 0;
  right: 20px;
  align-items: center;
  text-decoration: none;
  color:white;
  padding: 40px;
  transition: color 0.3s ease-in-out;
  font-size: 25px;
  
}

.nav-link a:hover {
  color: #012A4A;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 535px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    width: 0px;
    overflow: hidden;
    position: fixed;
    top: 40px;
    background: black;
    left: 0;
    justify-content: center;
    height: 40px;
    align-items: center;
  }
}
.navbar img{
  float: left;
  width: 10vw;
  height: 15vh;

}
 .button-nav{ 
  /* float: left; */
   top: 0;
  right: 20px; 
  background-color: white;
  color:#012A4A;
  border: 2px solid #012A4A;
  border: none;
  padding: 20px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 20px 2px;
  margin-bottom: 5px;
  transition-duration: 0.4s;
  cursor: pointer;
    
  
}
.button-nav:hover{
  background-color:#012A4A;
  color:white;
}
.reg-button{
  top: 0;
  right:10px;
  background-color: white;
  color:#012A4A;
  border: 2px solid #012A4A;
  border: none;
  padding: 20px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 20px 2px;
  margin-bottom: 5px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.reg-button:hover{
  background-color:#012A4A;
  color:white; 
} 
.background{
  width: 100%;
  /* background-color: #012A4A; */
  padding: 22px;
  justify-content: center;
  
}
.contactback-pics label{
color: black;
font-size: 22px;
}
.contactback-pics{
  width: 30%;
  margin: auto;
  padding: 18px;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
     width: 100%; /* Full width */
     padding: 13px; /*Some padding  */
     border: 1px solid grey; /*Gray border */ 
     border-radius: 4px; /*Rounded borders */
     box-sizing: border-box;/* Make sure that padding and width stays in place */
     margin-top: 6px; /*Add a top margin */
     margin-bottom: 20px;/* Bottom margin */
     resize: vertical;/* Allow the user to vertically resize the textarea (not horizontally) */
     justify-items: center;
     
  }  
  
  /* Style the submit button with a specific background color etc */
   input[type=submit] {
    background-color:#012A4A;
    color:white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer; 
    font-size: 20px;

    
   } 
  
  /* When moving the mouse over the submit button, add a darker green color */
   input[type=submit]:hover {
    background-color: white;
    color: #012A4A;
  } 
  /* Add a background color and some padding around the form */
   .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }   
  h1{
    color: black;
    margin-top: 150px;
    text-align: center;
    font-size: 50px;

  }