@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');
body{
  background-color: white;
  font-family: 'Cormorant Garamond' ,serif;
}
/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #012A4A;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  /* color: #f2f2f2; */
  color:white;
  text-align: center;
  padding: 40px 50px;
  text-decoration: none;
  font-family: 'Cormorant Garamond' , serif; 
  font-size: 140%;

}

/* Change background on mouse-over */
.navbar a:hover {
  background: white;
  color:#012A4A;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px; 
  margin: auto;
  text-align: center;
  margin-top: 80px;
  display:inline-block;
  
}
p{
  font-size:20px;
}
h1{
  margin-top: 120px;
  text-align: center;
}
  
.title {
  color: black;
  font-size: 25px;
}
  
button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color:#012A4A;
  text-align: center;
  cursor: pointer;
  width: 50%;
  font-size: 18px;
}
  
button:hover, a:hover {
  opacity: 0.7;
  }
.wrapper{
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start; */
  display: block;
  max-width: 300px;
  margin:0 auto;
  padding:20px;
}